* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    outline: none;
}

html {
    font-size: 62.5%;
}

svg {
    width: 1rem;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
}

.container .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div .signup-link {
    margin: 2rem auto ;
    text-decoration: underline;
    letter-spacing: 0.2rem;
    background-color: rgba(251, 251, 251, 0.701);
    padding: 1rem 2rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.489);
    border-radius: 2px;
    cursor: pointer;
}

header {
    position: sticky;
    top: 2rem;
    padding: 2rem 6rem;
    background-color: #ffffffbe;
    z-index: 1;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    min-width: auto;
}

.nav-logo {
    width: 128px;
    height: auto;
}

nav > ul {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;  
}

nav > ul > li {
    list-style: none;
    font-size: 1.2rem;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 400;
    color: #000000;
    transition: all 0.1s ease-in;
}

/* HOME SECTION */

.home-container {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    margin: 4rem 0;
}

.home-container div {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    border-radius: 4px;
}

.home-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.home-paragraph {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.home-button {
    padding: 1rem 2rem;
    border-radius: 4px;
    border: none;
    background-color: white;
}

.home-button a {
    color: black;
}

/* OVERVIEW SECTION */

.overview-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-header {
    display: flex;
    justify-content: space-between;
}

.overview-heading-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.overview-button {
    width: 3rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.overview-button {
    color: black;
    width: 2rem;
    height: auto;
}

.overview-left-link {
    min-width: 30rem;
}

.overview-left-link > ul {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.overview-left-link > ul > li {
    list-style: none;
    padding: 1rem;
}

.overview-left-link > ul > li > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.vertical-divider {
    width: 1px;
    height: 3vh;
    margin: 1rem 0;
    background-color: black;
}

.overview-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: auto;
    padding: 1rem;
}

.breakfast-card-container, .dinner-card-container, .snack-card-container {
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.card-1, .card-2, .card-3 {
    position: relative;
    min-width: 10rem;

    height: auto;
    background-color: rgb(247, 247, 247);
    padding: 1rem;
}

.overview-img {
    width: 100%;
    height: auto;
}

.ratings {
    cursor: pointer;
}

.food-type {
    text-decoration: underline;
}

.img-container {
    position: relative;
    transition: all 0.1s ease-in;
}

.see-more-btn {
    position: absolute;
    bottom: 5rem;
    right: 15rem;
    transform: translate(-10%, -10%);
    background-color: none;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    opacity: 0;
    transition: all 0.1s ease-in;
}

.card-1:hover .see-more-btn,
.card-2:hover .see-more-btn,
.card-3:hover .see-more-btn {
    opacity: 1;
}

.card-1:hover .img-container,
.card-2:hover .img-container,
.card-3:hover .img-container {
    opacity: 0.5;
    background-color: rgba(227, 227, 227, 0.65);
}   